html, body {
    margin: 0;
    height: 100%;
}

p{
    margin: 0;
}

.left-panel,
.right-panel {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
}

.left-panel{
    background-image: linear-gradient(rgb(25, 118, 210), rgb(33, 150, 243));
    left: 0;
}

.right-panel{
    background-image: linear-gradient(rgb(33, 150, 243), rgb(25, 118, 210));
    right: 0;
}

.left-panel,
.right-panel,
.fetched-clips {
    border: 1px solid rgb(13, 71, 161);
}
.fetched-clips {
    border-left: none;
}

